<div class="pagination">
  <ul>
    <li class="<%= this.page ? "" : "disabled" %>">
        <a href="<%= can.route.url({route: route, type: type, page: this.page - 1}) %>">&laquo;</a>
    </li>
    <% if(this.pages){ for(var p = 0; p < pages; p++){ %>
        <li class="<%= (this.page === p || !this.page && p === 0) ? "active" : "" %>">
            <a href="<%= can.route.url({route: route, type: type, page: p}) %>"><%= p + 1 %></a>
        </li>
    <% } } %>
    <li class="<%= this.next ? "" : "disabled" %>">
        <a href="<%= can.route.url({route: route, type: type, page: this.page + 1}) %>">&raquo;</a>
    </li>
  </ul>
</div>
