<div class="<%= this.cssClass ? this.cssClass : ''%>">
<% var that = this %>
<% list(options, function(opt) { %>
    <% var val = opt.constructor && opt.constructor.id ? opt[opt.constructor.id] : opt.value;
       var displayName = that.displayProperty ? can.getObject(displayProperty, opt) : can.capitalize(val);
       var sel = val === that.selected ? "checked" : "" %>
    <label>
        <input type="radio" name="<%= name %>" value="<%= val %>" <%= sel %>>
        <%= displayName %>
    </label>
<% }) %>
</div>
