<header>
    <h2><%= type.getNamePlural() %></h2>
<% if(type.canCreate()) { %>
    <a class="btn btn-primary" href="<%= type.getCreateRoute() %>"><i class="icon-plus"></i> Create new</a>
<% } %>
<% if(type.canSearch()) { %>
    <form class="form-search">
        <input type="text" class="admin-list-search search-query" placeholder="Search">
        <button type="reset" class="btn admin-list-reset">Clear</button>
    </form>
<% } %>
</header>
<% var canDestroy = type.canDestroy(), canUpdate = type.canUpdate()  %>
<table>
    <tr>
        <% list(type.list, function(prop){ %>
            <th>
                <% if(prop.options.orderBy){ %>
                <a href="#" class="sortable asc" data-order-by="<%= prop.options.orderBy %>">
                    <%= prop.getName() %>
                </a>
                <% } else { %>
                    <%= prop.getName() %>
                <% } %>
            </th>
        <% }) %>
    <% if(canUpdate) { %><th>Edit</th><% } %>
    <% if(canDestroy) { %><th>Delete</th><% } %>
    </tr>
    <% items.each(function(item, index){ %>
    <tr <%= (el) -> el.data("item", item)%> class="<%= index%2 == 0 ? 'even' : '' %>">
        <% list(type.list, function(prop, i){ %>
            <td>
                <% if(i === 0){ %><a href="<%= item.getRoute() %>"><% } %>
                <%== item.getDisplay(prop, "list") %>
                <% if(i === 0){ %></a><% } %>
            </td>
        <% }) %>
        <% if(canUpdate) { %><td><a href="<%= item.getRoute() %>">Edit</a></td><% } %>
        <% if(canDestroy) { %><td><a href="#" class="delete">Delete</a></td><% } %>
    </tr>
    <% }) %>
</table>
<div class="admin-list-paging"></div>
